public/
resources/
.venv/
.vagrant/
backends/
frontends/
__pycache__/
labs/
.state/
*.swp
*.swo
*.class
*.pyc
*.pyo
*.tar
*.tgz
*.jar
*.bz2
*.zip
*.bak
*.pid
*.log
*.so
*.DS_STORE
*~
.hugo_build.lock
hugo_stats.json
